body {
	font-family: 'Ibarra Real Nova', serif;	
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	width: 85%;
	margin: auto;
	box-sizing: border-box;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 3em;
	text-transform: lowercase;
	margin: 1em auto;
}

h2 {
	font-weight: normal;
	color: #888;
	margin: 3em 0em;
	font-size: 2em;
}

:root {
	--main: red;
	--renaissance: orange;
	--post-renaissance: green;
	--modern: blue;
	--contemporary: purple;
}

.section {
	/*border: 1px solid red;*/

	vertical-align: middle;
	margin: 11em auto;
}

.section p {

	width: 70%;
	text-align: justify;
	margin: auto;
	margin-bottom: 1.5em;
}

.section a, a:visited {
	text-decoration: none;
}

.visContainer {
	/*border: 1px solid blue;*/

	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	margin: auto;
}

.viz1, .viz2, .viz3, .viz4 {
	/*border: 1px solid green;*/
	box-sizing: border-box;
	margin: 5px;
	width: 45%;
  	transition: 1s;
}

.viz1:hover, .viz2:hover, .viz3:hover, .viz4:hover {
	box-sizing: border-box;
	/*border: 1px solid green;*/

	width: 75%;
  	transition: 1s;
  	transition-delay: 0.25s;
}

.vizImg {
	box-sizing: border-box;
	/*border: 1px solid red;*/

	width: 100%;
}

.vizDesc {
	/*border: 1px solid orange;*/

	width: 100%;
	text-align: justify;
}

#main p {
	text-align: justify;
}

#teamMems p {
 	text-align: center;
 	margin-bottom: 1em;
}

.styleHeader {
	margin: 0;
}